[submodule "src/nhse.saf/themes/hugo-book"]
	path = src/nhse.saf/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "src/nhse.saf/themes/govukhugo"]
	path = src/nhse.saf/themes/govukhugo
	url = https://github.com/co-analysis/govukhugo.git
